.col{
    min-width: 45%;
}

.navbar{
    width: 100%;
    height: 10%;
    padding: 20px 5%;
}


.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav-items .nav-div{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-decoration: none;
    text-decoration-style: none;

}

.nav-items .nav-div .nav-item{
    list-style: none;
    margin: 0 10px;
    font-size: large;
    font-weight: 600;
}

.container{
    padding:2% 10%;
}



.jobs{
    display: flex;
    flex-direction: row;
    gap: 10px 5%;
    flex-wrap:wrap
}

.card {
    min-width: 30%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

textarea {
    height: 80px !important;
}