{% extends "jobs/base.html" %}

{% block content %}
<div class="container">
    <h1>Hello {{request.user}}</h1>
   
    <div class="jobs">
        {% for job in jobs%}
            <div class="card">
                <div class="container">
                    <h3>{{job.title}}</h3>
                    <p>
                    {{job.short_description}} <br>
                    {{job.created_by.company}} <br>
                    {{job.created_at}} <br>
                    {{job.long_description}} <br></p>
                    <a href="{%url 'applay_for_job' job.id%}" class="button primary color1">Applay</a><br><br><br>
                </div>
            </div>
        {%endfor%}
    </div>
    
</div>
{% endblock %}